/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: 5px;
    scrollbar-color: #193833 #ffffff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    display: none;
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #193833;
    background-color: #193833;
  }